<p class="card-text">
Представленый курс покупки доллара - <%= present(@rate){ |r| r.value } %>  ₽<br/>
<% if @rate.kind_of? ForcedRate %>
Курс является форсированым и продержится до <%= @rate.last_to %>
<% end %>
</p>
<%= form_tag('/admin', method: 'post') do %>
  <div class="form-group">
    <%= label_tag(:forced_rate_value, "Цена:") %><br/>
    <%= number_field(:forced_rate, :value, in: 0.0..(1.0 / 0.0), step: 0.01, required: true) %><br/>
    <%= label_tag(:forced_rate_last_to, "Цена будет держаться до:") %><br/>
    <%= datetime_local_field(:forced_rate, :last_to, required: true) %><br/>
  </div>
  <%= submit_tag("Форсировать цену", class: "btn btn-warning") %>
<% end %>
